/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fonts */
body {
  font-family: 'Poppins', Arial, sans-serif;
  line-height: 1.6;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
  font-size: 16px;
}

/* Basic layout */
.landing-page {
  padding: 2rem 0;
}

.content-wrapper {
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
}

@media (max-width: 480px) {
  .content-wrapper {
    align-items: center;
    text-align: center;
  }
}


.footer-wrapper {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  padding: 0 1rem; /* Add this line if you want some padding on the sides */
}


.terminal {
  background-color: #101820;
  padding: 0;
  border-radius: 5px;
  width: 100%;
  display: inline-block;
  text-align: left;
  border: 1px solid #7D55C7;
  overflow: hidden;
  font-family: 'IBM Plex Mono', Arial, sans-serif;
  color: #00ff47;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.25), 8px 8px 15px rgba(0, 0, 0, 0.15);
  min-width: 320px; /* Change the min-width */
  font-size: 14px;
  line-height: 1;
}

@media (min-width: 800px) {
  .terminal {
    min-width: 700px;
  }
}

@media (max-width: 480px) {
  .terminal {
    font-size: 11px; /* Decrease the font size */
    line-height: .8; /* Decrease the line-height */
  }
}

@media (max-width: 400px) {
  .terminal {
    font-size: 10px; /* Decrease the font size */
    line-height: .8; /* Decrease the line-height */
  }
}

.terminal-top-margin {
  background-color: #3c3e47;
  height: 1.35rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 0.1rem;
}

.terminal-text-wrapper {
  width: 100%;
  padding: 1rem;
}


nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 1rem;
  text-align: left;
  width: 100%;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
}

nav a {
  font-family: 'Poppins', Arial, sans-serif;
  color: #333;
  text-decoration: none;
  padding: 0.5rem 1rem;
  transition: color 0.3s;
  margin: 0.5rem;
}

@media (max-width: 480px) {
  nav a {
    font-size: 11px; /* Decrease the font size */
  }
}


nav a:hover {
  color: #7D55C7;
}

nav a.home-link:hover {
  color: #05C3DD;
}

nav a.about-link:hover {
  color: #F3EA5D;
}

nav a.resume-link:hover {
  color: #F277C6;
}

nav a.blog-link:hover {
  color: #4D49BE;
}

nav a.gallery-link:hover {
  color: #7D55C7;
}

.terminal-buttons {
  display: flex;
  justify-content: flex-end;
  padding-right: 0.6rem;
}

.terminal-buttons span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 12px;
  height: 12px;
  border-radius: 2px;
  margin-left: 4px;
  margin-bottom: 5px;
  position: relative;
}

.terminal-buttons i {
  font-size: 12px;
  color: #9A9A9A;
}

.minimize i {
  color: #FFFFFF;
}

.maximize i {
  color: #FFFFFF;
}

.close i {
  color: #FFFFFF;
}

#ascii-art {
  font-size: 5px; /* Increase the font size */
  line-height: 1; /* Increase the line-height */
  margin: 0;
  padding: 0;
  white-space: pre-wrap;
  font-family: 'Courier New', monospace; /* Use a monospace font for the ASCII art */
  color: #E0457B;
}

@media (max-width: 480px) {
  #ascii-art {
    font-size: 4px; /* Decrease the font size */
    line-height: .8; /* Decrease the line-height */
  }
}

@media (max-width: 400px) {
  #ascii-art {
    font-size: 2.5px; /* Decrease the font size */
    line-height: .8; /* Decrease the line-height */
  }
}


.custom-cursor {
  display: inline;
  position: relative;
  animation: blink 1s infinite, color-cycle 4s infinite;
}

@keyframes completed-blink {
  0%, 49% { opacity: 1 }
  50%, 100% { opacity: 0 }
}

/* Aligning to top of page for content pages */
.content-pages {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.content-pages .content-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.body-content-pages {
  align-items: flex-start;
  padding-top: 2%;
}

.white-text {
  color: #FFFFFF;
}

.about-title {
  font-size: 3.5rem;
  color: #7D55C7;
  margin-bottom: 1rem;
}


.about-subtitle {
  font-size: 1.5rem;
  color: #F277C6;
  margin-bottom: 1rem;
}

.about-text {
  font-size: 1.1rem;
  color: #333;
  line-height: 1.8;
}

.about-text p {
  margin-bottom: 1.2rem;
}

.about-text p:last-child {
  margin-bottom: 0;
}

.main-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  border-top: 1px solid #ccc;
  margin-top: 2rem;
  padding-top: 1rem;
}


.main-footer p {
  font-family: 'Poppins', Arial, sans-serif;
  color: #333;
  font-size: 0.9rem;
}

.column-layout {
  flex-direction: column;
}

.main-wrapper {
  display: grid;
  grid-template-rows: 1fr auto;
  min-height: 100vh;
}

.about-content {
  display: flex;
  align-items: center;
}

.about-image {
  width: 375px;
  height: 280px;
  margin-right: 20px;
}

.about-text-wrapper {
  display: flex;
  flex-direction: column;
}

.about-container {
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 767px) {
  .about-content {
    flex-direction: column;
  }

  .about-image {
    width: 100%;
    height: auto;
  }

  .about-title {
    font-size: 2.5rem;
  }

  .about-subtitle {
    font-size: 1.2rem;
  }

  .terminal {
    min-width: 100%;
  }
}


.about-image {
  max-width: 100%;
  height: auto;
  border: .5px solid #333;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.12);
  margin-bottom: 8px;
}

.about-header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.image-container {
  display: inline-block;
  width: auto;
  text-align: center;
}

.about-image-caption {
  font-size: 14px;
  color: #777;
  margin: 0;
}

.terminal-title {
  display: inline-block;
  font-size: 0.8rem;
  color: #F3EA5D;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  user-select: none;
}

.terminal-title::before {
  content: "RobbieOS version 1.337";
}

.section-divider {
  border-bottom: 1px solid #ccc;
  margin: 1rem 0;
}

.resume-container {
  padding: 1rem;
}

.resume-section-title {
  color: #101820;
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 1rem;
}

.experience-company {
  color: #101820;
}

.experience-job-title {
  color:#101820
}

.certification-logos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.certification-logo {
  flex-basis: 150px;
  flex-grow: 1;
  max-width: 150px;
}

.certification-logo img {
  width: 100%;
  height: auto;
  object-fit: contain;
  transition: transform 0.3s;
}

.certification-logo:hover img {
  transform: translateY(-5px);
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.social-link {
  font-size: 18px;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.social-link:hover {
  color: #101820; /* Change the color to your preferred hover color */
}

.social-link:hover i {
  animation: fa-beat 1s infinite;
}

.visitor-counter {
  text-align: center;
  margin-bottom: 10px;
}
